

h1 {
    font-size: 60px;
    color: beige;
    font-family: 'Dancing Script', cursive;
    margin: ;
}
p {
color: blueviolet; 
border: 2px cadetblue;
}
section {
    background-color: blanchedalmond;
}
#about
